%div.jumbotron.sliders
  %h2 How much are you enjoying this talk?
  %div
    %span Not much
    %input#appreciation-slider
    %span Quite a lot

  %h2 How much are you able to follow?
  %div
    %span I am lost
    %input#lost-slider
    %span I'm doing great
