- for {Conference, conference} <- @conferences do

  %div.jumbotron.sliders(id="#{conference[:slug]}")
    %h2
      = conference[:name]

    %h3 Appréciez-vous cette présentation?
    %div
      %span 0
      %input#appreciation-slider
      %span 10

    %h3 Est-ce facile de suivre la présentation?
    %div
      %span 0
      %input#lost-slider
      %span 10


%script(src="/js/questions.js")
