- for {Conference, conference} <- @conferences do

  %div.jumbotron.sliders(id="#{conference[:slug]}")
    .state
    %h2
      = conference[:name]

    %h3 Appréciez-vous cette présentation?
      %input#appreciation-slider

    %h3 Est-ce facile de suivre la présentation?
      %input#following-slider

%script(src="/js/questions.js")
