body {
  padding: 20px 0;
}

.container {
  max-width: 700px;
}

.header {
  padding: 0 15px;
  border-bottom: 1px solid #e5e5e5;
}

.header h1 {
  background: transparent url(/images/logo.png) no-repeat left center;
  background-size: 35px 35px;
  padding-left: 40px;
}

.sliders .state {
  float: right;
  height: 32px;
  width: 32px;
  background: transparent url(../images/valid.png);
}

.sliders .state.loading {
  background-image: url(../images/loading.gif);
}

.sliders textarea {
  display: block;
  width: 100%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
}
