body {
  padding: 20px 0;
}

.container {
  max-width: 700px;
}

.header {
  padding: 0 15px;
  border-bottom: 1px solid #e5e5e5;
}

.header h1 {
  background: transparent url(/images/logo.png) no-repeat left center;
  background-size: 35px 35px;
  padding-left: 40px;
}

.sliders .state {
  float: right;
  height: 32px;
  width: 32px;
  background: transparent url(../images/valid.png);
}

.sliders .state.loading {
  background-image: url(../images/loading.gif);
}

.sliders textarea {
  display: block;
  width: 100%;
  font-size: 14px;
}

footer .arrow {
  float: left;
  margin-right: 15px;
}

#conferences .panel-heading label.toggle {
  float: right;
  display: block;
}

#conferences .panel-heading label.toggle input {
  margin-right: 10px;
}

#conferences .panel-body .emotion span {
  display: inline-block;
  width: 25%;
}

#conferences .panel-body .emotion .slider {
  width: 75%;
}

#conferences .panel-body .emotion .slider .slider-track {
  background-image: linear-gradient(to bottom,#A03737 0,#991616 100%);
}

#conferences .panel-body .emotion .slider .slider-track .slider-selection {
  background-image: linear-gradient(to bottom,#2BE03B 0,#2E8C36 100%);
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
}
